<h1>Seja bem vindo</h1>
<p>O idioma usado nessa aplicação é: <strong> <%= I18n.locale %> </strong></p>
<p><strong>Data:</strong><%= data_br(Date.today) %></p>
<%= render "menu" %>s
<p>Olá, <%= @nome %> </p>